           .pic {
                display:block;
                margin-left: auto;
                margin-right: auto;
            }
            .names {
                font-size:10;
                font:"Times New Roman";
                color:#ff1500;
            }
            .header {
                font:"Times New Roman";
                color:black;
                background:linear-gradient(#ff1500, transparent);
                position:absolute;
                left:0;
                right:0;
                top:0;
            }
            #home {
                position:absolute;
                top: 50px;
            }
            .header2 {
                font:"Times New Roman";
                color:#ff1500;
                position: absolute;
                top:340px;
                left: 50%;
                transform:translate(-210px, 0);
            }
            .body2 {
                font:"Times New Roman";
                color:#ff1500;
            }
            #left {
                position: absolute;
                left: 0;
                top:;
                width: 50%;
            }
            #right {
                position: absolute;
                right: 0;
                top:;
                width: 50%;
            }
            a:link {
                color: #ff1500;
                background-color: transparent;
                text-decoration: underline;
            }
            a:visited {
                color: #ff1500;
                background-color: transparent;
                text-decoration: underline;
            }
            a:hover {
                color: #696865;
                background-color: transparent;
                text-decoration: underline;
            }
            a:active {
                color: #ff1500;
                background-color: transparent;
                text-decoration: underline;
            }
            body {
                background:black;
            }
            ul {
                text-align:left;
            }
